
*.db

*.lock

*.so

*.gem

*.o

*.a

*.bundle

*.log

sqlite3_ruby/ext/sqlite3_api/Makefile

sqlite3_ruby/ext/sqlite3/Makefile

geocommons_geocoder/src/shp2sqlite/shp2sqlite

geocommons_geocoder/build_db/shp2sqlite

*.lock

sqlite3_ruby/ext/sqlite3/Makefile

geocommons_geocoder/build_db/shp2sqlite

sqlite3_ruby/.config
